* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.portalign {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 12vw;
    font-weight: lighter;
    text-shadow: rgba(0, 0, 0, 0.9);
}

.portanim {
    animation-name: portanimation;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    animation-iteration-count: 1;
    opacity: 0;
}

@keyframes portanimation {
    0% {
        opacity: .2;
        transform: translate(-30px);
    }
    100% {
        opacity: .9;
        transform: translate(10px);
    }
}

.folioalign {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 12vw;
    font-weight: bolder;   
}
.headresize{
    font-size: 12vw;
}
.rightblock{
    display: flex;
    align-items: flex-end;
    
}
.blackcolor{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}
.folioanim {
    animation-name: folioanimation;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    animation-iteration-count: 1;
    opacity: 0;
}

@keyframes folioanimation {
    0% {
        opacity: .2;
        transform: translate(30px);
    }
    100% {
        opacity: 1;
        transform: translate(-20px);
    }
}

.bar1 {
    background-color: white;
    height: 10px;
   
}

.projects{
    font-size: 1.2rem;
    font-weight: 700;
}

.workcard{
    /*height: 20rem;*/
}
.portfolio-div{
    background-color: white;
    box-shadow:5px 5px 20px 0px #6b6a6a38;
    height: auto;
    padding: 10px;
}
.small-heading{
    font-size: 1.3rem;
    font-weight: 600;
}
.portfolio-links a{
    padding: 1px;
    color: black !important;
    font-size: 1rem;
    font-style: italic;
    opacity: .6;
}
.portfolio-links-black a{
    padding: 1px;
    color: white !important;
    font-size: 1rem;
    font-style: italic;
    opacity: .6;
}
.portfolio-links-black a:hover{
    padding: 1px;
    color: white !important;
    text-decoration: none;
}
.portfolio-links a:hover{
    padding: 1px;
    color: black !important;
    text-decoration: none;
}
.portfolio-links p{
    
    font-size: 1rem;
    font-weight: 500;
}
.portfolio-div-black{
    background-color: rgb(39, 36, 36);
    box-shadow:5px 5px 20px 0px rgb(27, 25, 25);
}