* {
    padding: 0;
    margin: 0;
    
}

.fnt {
    font-family: 'Open Sans', sans-serif;
    color: rgb(24, 24, 24);
    font-size: 1.3rem;
    opacity: .9;
}

.bgdiv {
    background-image: url("../images/cover.jpg");
    height: 632px;
    width:100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.sticky {
    position: fixed;
    top: 0;
    
    width: 100%;
}

.sticky+.content {
    /* padding-top: 102px;*/
}

.entho {
    height: 1000px;
    background-color: whitesmoke;
}
.clr{
    background-color: white;
    color:rgb(24, 24, 24); ;
}
.bar {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
  }
  .brandnm{
      color:black;
      opacity: .9;
      margin-left: 6rem;
      font-size: 2rem;
      font-family: 'Kanit', sans-serif;
  }